{{ define "main" }}
<!--
  _    _
 | |  | |                             /\
 | |__| |   ___   _ __    ___        /  \     _ __    ___    __ _
 |  __  |  / _ \ | '__|  / _ \      / /\ \   | '__|  / _ \  / _` |
 | |  | | |  __/ | |    | (_) |    / ____ \  | |    |  __/ | (_| |
 |_|  |_|  \___| |_|     \___/    /_/    \_\ |_|     \___|  \__,_|

 -->
 <section class="hero is-large is-info">
    <div class="hero-body">
      <p class="title">
        Large hero
      </p>
      <p class="subtitle">
        Large subtitle
      </p>
    </div>
  </section>
{{ end }}