{{ define "main" }}

<div id="home-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#home-carousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#home-carousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#home-carousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        :src="`https://picsum.photos/1920/640?${Math.random()}`"
        class="d-block w-100"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        :src="`https://picsum.photos/1920/640?${Math.random()}`"
        class="d-block w-100"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        :src="`https://picsum.photos/1920/640?${Math.random()}`"
        class="d-block w-100"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#home-carousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#home-carousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<main>
  <div class="card p-4 mt-3 mb-4">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Et ultrices neque
      ornare aenean euismod elementum nisi quis eleifend. Nibh venenatis cras
      sed felis eget. Suscipit adipiscing bibendum est ultricies integer. Tempus
      urna et pharetra pharetra massa. Lectus magna fringilla urna porttitor
      rhoncus dolor purus. Urna porttitor rhoncus dolor purus non enim praesent
      elementum facilisis. Laoreet suspendisse interdum consectetur libero id
      faucibus. Purus in massa tempor nec feugiat. Sit amet nulla facilisi
      morbi. Quam pellentesque nec nam aliquam sem. Aliquet lectus proin nibh
      nisl condimentum id venenatis a condimentum.
    </p>

    <p>
      Amet consectetur adipiscing elit pellentesque habitant morbi tristique
      senectus et. Congue eu consequat ac felis donec et odio pellentesque diam.
      Auctor elit sed vulputate mi sit amet mauris commodo quis. Ultrices eros
      in cursus turpis massa tincidunt. Lorem donec massa sapien faucibus et.
      Enim blandit volutpat maecenas volutpat blandit aliquam etiam erat. Luctus
      accumsan tortor posuere ac. Eu sem integer vitae justo eget magna
      fermentum iaculis eu. Sodales ut etiam sit amet. Commodo quis imperdiet
      massa tincidunt nunc pulvinar sapien. Egestas egestas fringilla phasellus
      faucibus scelerisque eleifend. Nulla posuere sollicitudin aliquam ultrices
      sagittis orci a scelerisque purus. Vehicula ipsum a arcu cursus. Euismod
      elementum nisi quis eleifend quam adipiscing. Facilisis gravida neque
      convallis a cras semper. Lectus mauris ultrices eros in cursus turpis
      massa tincidunt dui. Velit egestas dui id ornare arcu. Pulvinar sapien et
      ligula ullamcorper. Rutrum tellus pellentesque eu tincidunt tortor.
      Suspendisse sed nisi lacus sed viverra tellus in hac.
    </p>

    <p>
      Consequat semper viverra nam libero justo laoreet sit amet cursus.
      Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae
      elementum. Id cursus metus aliquam eleifend mi. Dictum sit amet justo
      donec enim diam vulputate ut pharetra. Suspendisse potenti nullam ac
      tortor. Imperdiet dui accumsan sit amet nulla. Eget magna fermentum
      iaculis eu non diam phasellus vestibulum lorem. Hendrerit dolor magna eget
      est lorem ipsum dolor. Et leo duis ut diam quam nulla. Ullamcorper velit
      sed ullamcorper morbi tincidunt ornare massa.
    </p>

    <p>
      Netus et malesuada fames ac turpis egestas maecenas pharetra convallis.
      Nulla facilisi etiam dignissim diam quis enim. Nulla facilisi etiam
      dignissim diam quis enim lobortis scelerisque fermentum. Gravida in
      fermentum et sollicitudin ac orci phasellus. Consectetur adipiscing elit
      duis tristique sollicitudin. At in tellus integer feugiat. Habitant morbi
      tristique senectus et. Malesuada nunc vel risus commodo viverra maecenas.
      Aliquet nec ullamcorper sit amet risus. Elit ullamcorper dignissim cras
      tincidunt lobortis feugiat vivamus at augue. Morbi non arcu risus quis
      varius. Amet consectetur adipiscing elit duis tristique. Ultrices gravida
      dictum fusce ut placerat orci nulla pellentesque dignissim. Arcu ac tortor
      dignissim convallis aenean et. Eget nunc scelerisque viverra mauris in
      aliquam sem. Sem fringilla ut morbi tincidunt augue interdum velit
      euismod. Mi proin sed libero enim sed faucibus turpis in. In metus
      vulputate eu scelerisque felis. Turpis tincidunt id aliquet risus feugiat
      in.
    </p>

    <p>
      Turpis cursus in hac habitasse platea dictumst. Dignissim cras tincidunt
      lobortis feugiat vivamus at. Eros donec ac odio tempor orci. Netus et
      malesuada fames ac turpis egestas. Aenean pharetra magna ac placerat
      vestibulum lectus mauris. Donec pretium vulputate sapien nec sagittis
      aliquam malesuada bibendum. Sed viverra tellus in hac habitasse platea
      dictumst vestibulum. Nec nam aliquam sem et tortor consequat id porta.
      Ultricies lacus sed turpis tincidunt id aliquet. Vel fringilla est
      ullamcorper eget nulla facilisi etiam. Tortor condimentum lacinia quis vel
      eros donec ac odio tempor. Lacinia at quis risus sed vulputate odio.
      Consectetur adipiscing elit pellentesque habitant morbi tristique senectus
      et. Ante metus dictum at tempor commodo ullamcorper. Tellus in metus
      vulputate eu scelerisque felis imperdiet. Nunc aliquet bibendum enim
      facilisis gravida neque convallis. Praesent elementum facilisis leo vel.
    </p>
  </div>
</main>
{{ end }}
