<div class="position-fixed py-2 px-3 bg-dark text-white rounded-pill" style="bottom: 1rem; right: 1rem">
  <div class="form-check form-switch pull-right">
    <input class="form-check-input" type="checkbox" v-model="isDarkMode" />
    <label for="darkMode" v-text="isDarkMode?'Dark':'Light'"></label>
  </div>
</div>
<footer class="pt-3 bg-light">
  <div class="row">
    <div class="col-4 col-md">
      <h5>Sitemaps</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <a href="/about">About Company</a>
        </li>
        <li class="mb-1">
          <a href="/portfolio">Projects</a>
        </li>
        <li class="mb-1">
          <a href="/blog">Blog</a>
        </li>
        <li class="mb-1">
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <div class="col-4 col-md">
      <h5>Socials</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <a href="https://github.com/lerte">Github</a>
        </li>
        <li class="mb-1">
          <a href="https://codepen.io/lerte">Codepen</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
