<footer class="footer">
  <div class="content">
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <h5>Sitemap</h5>
        <p><a href="/about">About Company</a></p>
        <p><a href="/portfolio">Projects</a></p>
        <p><a href="/blog">Blog</a></p>
        <p><a href="/contact">Contact</a></p>
      </div>
      <div class="column">
        <h5>Social Media</h5>
        <p><a href="https://github.com/lerte">Github</a></p>
        <p><a href="https://codepen.io/lerte">Codepen</a></p>
      </div>
      <div class="column"></div>
    </div>
  </div>
</footer>
