<nav class="navbar has-shadow {{ with .Site.Params.fixedTop }}is-fixed-top{{ else }}{{ end }}" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img
        src='{{ "images/logo.png" | absURL }}'
        height="28"
      />
    </a>
    <a
      role="button"
      class="navbar-burger"
      @click="isActive = !isActive"
      :class="{showMenu: isActive}"
      aria-label="menu"
      :aria-expanded="isActive ? 'true' : 'false'"
      data-target="navMenu"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu" :class="{'is-active': isActive}">
    <div class="navbar-start">
      {{$menu := (.Site.Menus.nav)}} 
      {{$len := (len $menu)}} 
      {{ range $index, $element := $menu }} 
        <a class="navbar-item" href="{{ .URL | absURL}}"> {{ .Name }} </a>
      {{ end }}
    </div>

    <div class="navbar-end">
      <a class="bd-navbar-icon navbar-item" href="https://github.com/lerte/ducoz" target="_blank">
        <span class="icon">
          <i class="fa fa-lg fa-github"></i>
        </span>
      </a>
      <div class="navbar-item theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox">
          <div class="mode-container">
            <span class="icon">
              <i class="fa fa-lg fa-sun-o"></i>
            </span>
            <span class="icon">
              <i class="fa fa-lg fa-moon-o"></i>
            </span>
          </div>
        </label>
      </div>      
    </div>
  </div>
</nav>
