<nav class="navbar navbar-expand-lg bg-light {{ with .Site.Params.fixedTop }}fixed-top{{ else }}{{ end }}" :class="`navbar-${isDarkMode?'dark':'light'}`">
  <div class="container{{ with .Site.Params.fullWidth }}-fluid{{ else }}{{ end }}">
    <a class="navbar-brand" href="/">Ducoz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{$menu := (.Site.Menus.nav)}} 
        {{$len := (len $menu)}} 
        {{ range $index, $element := $menu }}
          <li>
            <a class="nav-link" href="{{ .URL | absURL}}"> {{ .Name }} </a>
          </li>
        {{ end }}
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="ms-2 d-flex">
        <a href="https://github.com/lerte/ducoz">
          <span class="icon">
            <i class="fa fa-lg fa-github"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
