<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{- partial "head.html" . -}}
  <body class="{{ with .Site.Params.fixedTop }}fixed-nav{{ else }}{{ end }}">
    <div id="app" class="container{{ with .Site.Params.fullWidth }}-fluid{{ else }}{{ end }}">
      {{- partial "header.html" . -}} {{- block "main" . }}{{- end }} {{- partial "footer.html" . -}}
    </div>
    {{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
    <script src="{{ $bootstrap.Permalink }}"></script>    
    {{ $vue := resources.Get "js/vue.min.js" }}
    <script src="{{ $vue.Permalink }}"></script>
    {{ $main := resources.Get "js/main.js" | minify }}
    <script src="{{ $main.Permalink }}"></script>          
  </body>
</html>
